# Ambiente virtual
.venv/
venv/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Arquivos temporários
*.tmp